= title_dom(t('.title'))

= link_to t('admins.lessons.lesson_dates.new.title'), new_admins_lesson_lesson_date_path(@lesson), class: 'btn btn-primary my-4'
= paginate @lesson_dates, theme: 'bootstrap-5'
%table.table.border
  %thead
    %tr
      %th= LessonDate.human_attribute_name(:start_at)
      %th= LessonDate.human_attribute_name(:end_at)
      %th= LessonDate.human_attribute_name(:capacity)
      %th= LessonDate.human_attribute_name(:reservations_count)
      %th= LessonDate.human_attribute_name(:url)
      %th
      %th
      %th
  %tbody
    - @lesson_dates.each do |lesson_date|
      %tr
        %td= l lesson_date.start_at, format: :without_seconds
        %td= l lesson_date.end_at, format: :without_seconds
        %td= lesson_date.capacity
        %td.test-reserved-users-link= link_to lesson_date.reservations_count, admins_lesson_date_reserved_users_path(lesson_date)
        %td= lesson_date.url
        %td= link_to t('.edit'), edit_admins_lesson_date_path(lesson_date), class: 'btn btn-outline-dark'
        %td
          = button_to t('.delete'), admins_lesson_date_path(lesson_date),
                      class: 'btn btn-outline-danger',
                      method: :delete, data: { turbo_confirm: t('.delete_confirm') }
= paginate @lesson_dates, theme: 'bootstrap-5'
