%h1= admin_title_text(t('.title'))

= link_to t('admins.lessons.new.title'), new_admins_lesson_path, class: 'btn btn-primary my-4'
= paginate @lesson_dates, theme: 'bootstrap-5'
%table.table.border
  %thead
    %tr
      %th= LessonDate.human_attribute_name(:date)
      %th= LessonDate.human_attribute_name(:start_time)
      %th= LessonDate.human_attribute_name(:end_time)
      %th= LessonDate.human_attribute_name(:capacity)
      %th= LessonDate.human_attribute_name(:url)
      %th
  %tbody
    - @lesson_dates.each do |lesson_date|
      %tr
        %td= lesson_date.date
        %td= l lesson_date.start_time, format: :time
        %td= l lesson_date.end_time, format: :time
        %td= lesson_date.capacity
        %td= lesson_date.url
= paginate @lesson_dates, theme: 'bootstrap-5'
