%h1= t('devise.sessions.new.sign_in')
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.input :email
  = f.input :password
  = f.input :remember_me, as: :boolean
  = f.button :submit, t('devise.sessions.new.sign_in')
= render 'users/shared/links'
