= title_dom(t('.title'))

= link_to t('admins.lessons.new.title'), new_admins_lesson_path, class: 'btn btn-primary my-4'
= paginate @lessons, theme: 'bootstrap-5'
%table.table.border
  %thead
    %tr
      %th= Lesson.human_attribute_name(:title)
      %th= Lesson.human_attribute_name(:instructor)
      %th= Lesson.human_attribute_name(:published)
      %th
      %th
      %th
  %tbody
    - @lessons.each do |lesson|
      %tr{ class: "test_#{lesson.id}" }
        %td= lesson.title
        %td= lesson.instructor
        %td
          %input.form-check-input{ type: 'checkbox', checked: lesson.published ? true : false, disabled: true }
        %td= link_to t('.edit'), edit_admins_lesson_path(lesson), class: 'btn btn-outline-dark'
        %td= link_to t('admins.lessons.lesson_dates.index.title'), admins_lesson_lesson_dates_path(lesson), class: 'btn btn-outline-dark'
        %td= link_to t('admins.lessons.survey_answered_users.index.title'), admins_lesson_survey_answered_users_path(lesson), class: 'btn btn-outline-dark'
= paginate @lessons, theme: 'bootstrap-5'
