= title_dom(t('.title'))

= link_to t('.to_lessons'), admins_root_path, class: 'btn btn-dark mb-5'
= simple_form_for [:admins, @lesson] do |f|
  = f.input :title
  = f.input :summary
  = f.input :instructor
  = f.input :published
  = f.button :submit
