= title_dom(t('.title'))

= paginate @users, theme: 'bootstrap-5'
%table.table.border
  %thead
    %tr
      %th= User.human_attribute_name(:id)
      %th= User.human_attribute_name(:email)
      %th= User.human_attribute_name(:name)
      %th= User.human_attribute_name(:created_at)
      %th= User.human_attribute_name(:confirmed_at)
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr{ class: "test_#{user.name}" }
        %td= link_to user.id, edit_admins_user_path(user)
        %td= user.email
        %td= user.name
        %td= l user.confirmed_at if user.confirmed_at
        %td= l user.created_at
        %td= user_confirm_status_badge(user)
        %td
          = button_to t('.delete'), admins_user_path(user),
                      method: :delete, data: { turbo_confirm: t('.delete_confirm') }, class: 'btn btn-outline-danger'
= paginate @users, theme: 'bootstrap-5'
