= title_dom(t('.title'))

= paginate @lesson_dates, theme: 'bootstrap-5'
%table.table.border.text-center
  %thead
    %tr
      %th= LessonDate.human_attribute_name(:date)
      %th= LessonDate.human_attribute_name(:start_time)
      %th= LessonDate.human_attribute_name(:end_time)
      %th= LessonDate.human_attribute_name(:capacity)
      %th
  %tbody
    - @lesson_dates.each do |lesson_date|
      %tr
        %td= lesson_date.date
        %td= l lesson_date.start_time, format: :time
        %td= l lesson_date.end_time, format: :time
        %td= lesson_date.capacity
        %td
          - if current_user.reservations.exists?(lesson_date_id: lesson_date.id)
            = t('.reserved')
          - else
            = button_to t('.reserve'), lesson_lesson_date_reservations_path(lesson_date.lesson, lesson_date), class: 'btn btn-primary'
= paginate @lesson_dates, theme: 'bootstrap-5'
