= title_dom(t('.title'))

= paginate @lesson_dates, theme: 'bootstrap-5'
%table.table.border.text-center
  %thead
    %tr
      %th= LessonDate.human_attribute_name(:date)
      %th= LessonDate.human_attribute_name(:start_time)
      %th= LessonDate.human_attribute_name(:end_time)
      %th= LessonDate.human_attribute_name(:capacity)
  %tbody
    - @lesson_dates.each do |lesson_date|
      %tr
        %td= lesson_date.date
        %td= l lesson_date.start_time, format: :time
        %td= l lesson_date.end_time, format: :time
        %td= lesson_date.capacity
= paginate @lesson_dates, theme: 'bootstrap-5'
