= title_dom(t('.title'))

= link_to t('.to_lessons'), root_path, class: 'btn btn-outline-dark mb-5'
.fs-2= Lesson.human_attribute_name(:title)
.fs-5.mb-5= @lesson.title
.fs-2= Lesson.human_attribute_name(:summary)
.fs-5.mb-5= @lesson.summary
.fs-2= Lesson.human_attribute_name(:instructor)
.fs-5.mb-5= @lesson.instructor

= link_to t('.to_lesson_dates'), lesson_lesson_dates_path(@lesson), class: 'btn btn-primary'
