!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %title= SakuraLesson
    %meta{ content: 'width=device-width,initial-scale=1', name: 'viewport' }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag 'application', 'data-turbo-track': 'reload', type: 'module'
  %body
    %nav.navbar.bg-body-tertiary
      .container-fluid
        %div
          = link_to '管理者画面', admins_root_path, class: 'navbar-brand'
          = link_to t('admins.lessons.index.title'), admins_root_path, class: 'mx-2 btn'
          = link_to t('admins.lessons.new.title'), new_admins_lesson_path, class: 'mx-2 btn'
        - if admin_signed_in?
          = button_to t('menus.sign_out'), destroy_admin_session_path, class: 'float-end btn', method: :delete
        - else
          = link_to t('devise.sessions.new.sign_in'), admin_session_path, class: 'float-end btn'
    = render 'layouts/flash_message'
    .container
      = yield
