= title_dom(t('.title', resource: User.model_name.human))
= simple_form_for(resource, as: resource_name, url: user_registration_path) do |f|
  = f.input :name
  = f.input :email
  = f.input :password, hint: t('devise.registrations.edit.leave_blank_if_you_don_t_want_to_change_it')
  = f.input :password_confirmation
  = f.input :current_password, hint: t('devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes')
  = f.button :submit
