%h1= t('devise.registrations.new.sign_up')
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.input :email, required: true, autofocus: true
  = f.input :name, required: true
  = f.input :password, required: true, hint: t('devise.shared.minimum_password_length', count: @minimum_password_length)
  = f.input :password_confirmation, required: true
  = f.button :submit, t('devise.registrations.new.sign_up')
= render 'users/shared/links'
